stages:
    - build
    - deploy
    
build-docker:
  stage: build
  before_script: 
    - sudo docker rm -f flappymadafucky || true
    - sudo docker rmi -f muchdevops || true
  script:
    - sudo docker build -t muchdevops . 
  tags:
    - build
deploy-docker:
  stage: deploy
  script:
    - sudo docker run -d --name flappymadafucky -p 80:3000 muchdevops
  tags:
    - deploy
  only:
    - master